@import '../../styles/base.scss';

.save-template-modal {
  position: relative;
  top: 100px;
  .modal-content {
    .modal-body {
      .textfield-title {
        text-align: center;
        font-size: 24px;
        margin: 0 0 20px ;
        color: $black;
        font-weight: 600;
        .image-caution {
          margin-top: 10px;
          font-size: 14px;
          color: $red;
        }
      }
      .textfield-action-btns {
        width: 50%;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        span {
          padding: 5px;
          display: inline-block;
          width: 40%;
          text-align: center;
          border-radius: 20px;
          cursor: pointer;
        }
        .cancel-btn {
          border: 1px solid $red;
          background: $red;
          color: $white;
        }
        .submit-btn {
          background: $linkBlue;
          color: #fff;
          border: 1px solid $linkBlue;
          &.disabled {
            background: $grey;
            border: 1px solid $grey;
            pointer-events: none;
          }
        }
      }
    }
  }
}