@import '../../styles/base.scss';

.photo-blog-template {
  height: 100%;
  display: flex;
  .template-preview {
    width: 80%;
    border-right: 1px solid $grey;
    height: calc(100vh - #{$headerHeight});
    overflow: scroll;
    .navbar-brand {
      cursor: url('../../assets/editIcon.png'), auto;
    }
    .modal {
      position: absolute;
      top: 33%;
      font-size: 16px;
    }
  }
  .template-edit-container {
    width: 20%;
    background: $grey;
    text-align: center;
    position: fixed;
    right: 0;
    height: 100vh;
    overflow: scroll;
    padding: 0.5%;
    .upload-section {
      margin: 20px 0;
      .cover-upload {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid $darkGrey;
        .cover-label {
          font-size: 15px;
          color: $black;
          label {
            padding: 5px;
            border-radius: 18px;
            font-size: 13px;
            margin: 10px auto;
            border: 1px solid $green;
            background: $green;
            cursor: pointer;
            width: 50%;
            color: $white;
            display: block;
          }
        }
      }
    }
  }
}